
body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 56px;
}

.navbar .listaNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:#000;
    position: relative;
    height: 100%; 
}   

.listaNav li a{
    color: white;
    text-decoration: none;
}

#logo{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    object-fit: contain;
    
}

.portada{
    background-image: url(/src/concierto.jpg);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
padding-right:5%;
}