
body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 56px;
}

.navbar .listaNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:#000;
    position: relative;
    height: 100%; 
}   

.listaNav li a{
    color: white;
    text-decoration: none;
}

#logo{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    object-fit: contain;
    
}

.portada{
    text-align: center;
    background-image: url(/src/img/concierto.jpg);
    padding-top: 5em;
    margin-bottom: 0;
    padding-left: 5%;
    padding-bottom: 5em;
    padding-right:5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.portada h1{
    font-size: 100px;
}

.contacto{
    color: white;
    background-image: url(/src/img/contacus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 5em;
}

.pieDePagina{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000;
    color: whitesmoke;
}

.paginas li a{
    text-decoration: none;
}