
body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 56px;
}

.navbar .listaNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:#000;
    position: relative;
    height: 100%; 
}   

.listaNav li a{
    color: white;
    text-decoration: none;
}

.navbar li img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    object-fit: contain;
    
    
}



.portada{
    text-align: center;
    background-image: url(../src/img/concierto.jpg);
    padding-top: 5em;
    margin-bottom: 0;
    padding-left: 5%;
    padding-bottom: 5em;
    padding-right:5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.portada h1{
    font-size: 10em ;
    font-family: 'Monoton', cursive;
    
}

.contacto{
    color: white;
    background-image: url(../src/img/contacus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 5em;
}

.pieDePagina{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000;
    color: whitesmoke;
}

.paginas li a{
    text-decoration: none;
}

.mosaico{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.mosaico .cajasDeContenido .icono{
    height: 10em;
}
.mosaico .cajasDeContenido .icono img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.readMore{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 0.5em;
    text-align: center;
    color:#87CEEB;
    padding: 1em;
    font-size: 24px;
    border: 2px solid #87CEEB;
}

.readMore:hover {background-color:aqua;}

.mosaico .cajasDeContenido{
    padding: 5px;
}

h2{
    color: #9a7722;
}



@media only screen and (max-width: 600px){
    .mosaico{

    display:grid;
    grid-template-columns: 100%;
    }

    h1{
        font-size: 50px;
    }
}

@media only screen and (max-width: 714px){
    .contacto{
        display: grid;
        grid-template-columns: 100%;       
    }
    .pieDePagina{
        display: grid;
        grid-template-columns: 100%;    
    }
}